* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --text-color: #02021e;
    --main-color: #1d1e4c
}

body {
    border: 1.5rem solid var(--main-color);
    padding: 4rem;
    background: #ececec;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sec img {
    border-radius: 50px;
    border-radius: 18rem;
}

h1 {
    font-size: 5.5rem;
    font-weight: 500;
    color: var(--main-color);
}

.hero-sec div p {
    text-align: right;
    font-size: 2.4rem;
    font-weight: 600;
}

.hero-sec div {
    align-self: flex-end;
}

.hero-sec {
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5rem;
    width: 100%;
}

article h2 {
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: capitalize;
}

main {
    gap: 7rem;
    width: 70vw;
}

article p {
    font-size: 1.9rem;
    line-height: 1.6;
    word-spacing: 8px;
    font-weight: 500;
    color: var(--text-color);
}

article p span {
    font-weight: 700;
}

h3 {
    font-weight: 500;
    font-size: 2.8rem;
}

ul {
    margin-left: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}

li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: right;
    width: 70vw;
    margin-top: 5rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}

/* responsiveness */
@media (max-width: 1280px) {
    html {
        font-size: 50%;
    }

    main {
        width: 85vw;
    }
}

@media (max-width: 1034px) {
    .hero-sec {
        justify-content: center;
    }

    .hero-sec div p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 38%;
    }

    img {
        width: 200px;
    }

    article p,
    li,
    footer {
        font-size: 2.5rem;
    }

    li {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 480px) {
    article h2 {
        font-size: 4.5rem;
        letter-spacing: 1px;
    }

    h1 {
        font-size: 5rem;
    }

    img {
        width: 180px;
    }
}